<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>
  <appSettings>


  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="Clients.Blokker@ao.com">
        <network host="local-smtp.drl.local" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect">NHibernate.Dialect.MsSql2012Dialect</property>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="format_sql">true</property>
      <property name="show_sql">false</property>
      <property name="current_session_context_class">web</property>
      <property name="default_schema">AOAmazon.dbo</property>
      <property name="cache.use_second_level_cache">false</property>
      <property name="cache.use_query_cache">false</property>
      <property name="connection.connection_string_name">Amazon</property>
    </session-factory>
  </hibernate-configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
